.navbar {
    padding: 20px calc(40 * 0.25rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    height: 100px;
    margin-bottom: 50px;

    span {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .navbar {
        margin-bottom: 100px;

        span {
            font-size: 25px;
        }
    }

    .container {
        margin: 0 auto;
        max-width: 1440px;
    }
}
